@model ChulWoo.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texcode)
        </dd>

    </dl>



    @if (Model.Projects.Count != 0)
    {
        <h3>Project</h3>

        <table class="table">
            <tr>
                <th>Project Name</th>
                <th>Date</th>
            </tr>

            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Date
                    </td>
                </tr>
            }
        </table>
    }


    @if (Model.MaterialBuys.Count != 0)
    {
        <h3>Material Sell</h3>

        foreach (var item in Model.MaterialBuys)
        {
            <table class="table">
                <tr>
                    <td colspan="2" >
                        <dl class="dl-horizontal">
                            <dt>
                                Project Name
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.Project.Name)
                            </dd>
                        </dl>
                    </td>
                    <td colspan="2" >
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => item.Date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.Date)
                            </dd>
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Material Name</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Price</th>
                </tr>
                @foreach (var unit in item.MaterialBuyUnits)
                {
                    <tr>
                        <td>
                            @unit.MaterialUnitPrice.MaterialName.Name
                        </td>
                        <td>
                            @unit.Quantity
                        </td>
                        <td>
                            @unit.MaterialUnitPrice.Price
                        </td>
                        <td>
                            @{
                                var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                            }
                            @price
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
