@model ChulWoo.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texcode)
        </dd>

    </dl>



    @if (Model.Projects.Count != 0)
    {
        <h3>Project</h3>

        <table class="table">
            <tr>
                <th>@Resource.ProjectName</th>
                <th>@Resource.Date</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Projects)
            {
                <tr>
                    <td>
                        @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                        {
                            @Html.DisplayFor(model => item.NameKr)
                        }
                        else
                        {
                            @Html.DisplayFor(model => item.NameVn)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Project", new { id = item.ID }, null)
                    </td>
                </tr>
            }
        </table>
    }


    @if (Model.MaterialBuys.Count != 0)
    {
        <h3>Material Sell</h3>

        foreach (var item in Model.MaterialBuys)
        {
            <table class="table" style="margin: 0;padding: 0;">
                <tr>
                    <td>
                        <dl class="dl-horizontal" style="height:0px;">
                            <dt>
                                @Resource.ProjectName
                            </dt>
                            <dd>
                                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                                {
                                    @Html.DisplayFor(model => item.Project.NameKr)
                                }
                                else
                                {
                                    @Html.DisplayFor(model => item.Project.NameVn)
                                }
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl class="dl-horizontal" style="height:0px;">
                            <dt>
                                @Html.DisplayNameFor(model => item.Date)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.Date)
                            </dd>
                        </dl>
                    </td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <th>@Resource.MaterialName</th>
                    <th>@Resource.Unit</th>
                    <th>@Resource.Quantity</th>
                    <th>@Resource.UnitPrice</th>
                    <th>@Resource.Price</th>
                </tr>
                @if (item.MaterialBuyUnits != null && item.MaterialBuyUnits.Count != 0)
                {
                    double totalPrice = 0;
                    foreach (var unit in item.MaterialBuyUnits)
                    {
                        <tr>
                            <td>
                                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                                {
                                    @unit.MaterialUnitPrice.MaterialName.NameKr
                                }
                                else
                                {
                                    @unit.MaterialUnitPrice.MaterialName.NameVn
                                }
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.UnitString
                            </td>
                            <td>
                                @unit.Quantity
                            </td>
                            <td>
                                @Html.DisplayFor(model => unit.MaterialUnitPrice.Price)
                            </td>
                            <td>
                                @{
                                    var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                                    totalPrice = totalPrice + (double)price;
                                }
                                @String.Format("{0:0,0.00}", price)
                            </td>
                        </tr>
                    }
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>VAT</th>
                        <th>@String.Format("{0:0,0}", totalPrice * 0.1)</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Total Price</th>
                        <th>@String.Format("{0:0,0}", totalPrice * 1.1)</th>
                        <th></th>
                    </tr>
                }
            </table>
            <br />
            }
            }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
