@model ChulWoo.Models.MaterialBuy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaterialBuy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @{
        var priceall = 0;
    <table class="table">
        <tr>
            <th>Material Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Price</th>
        </tr>
        @foreach (var unit in Model.MaterialBuyUnits)
        {
            <tr>
                <td>
                    @unit.MaterialUnitPrice.MaterialName.Name
                </td>
                <td>
                    @unit.Quantity
                </td>
                <td>
                    @unit.MaterialUnitPrice.Price
                </td>
                <td>
                    @{
                        var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                    }
                    @price
                </td>
            </tr>
            priceall += (int) @unit.Quantity * @unit.MaterialUnitPrice.Price;
        }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>@priceall</td>
            </tr>
        
    </table>
    }



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
