@model ChulWoo.Models.MaterialBuy

@{
    ViewBag.Title = "Edit";
}


<h2>Edit</h2>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#CompanyName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Company/SetNameList",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            }
        });
    })
</script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MaterialBuy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Company.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company.Name, new { htmlAttributes = new { @id = "CompanyName", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Company.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project.NameKr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoteVn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoteVn, new { @Style = "height:100px; width:100%;" })
                @Html.ValidationMessageFor(model => model.NoteVn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoteKr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoteKr, new { @Style = "height:100px; width:100%;" })
                @Html.ValidationMessageFor(model => model.NoteKr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VAT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.VAT)
                    @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Translate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Translate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Translate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>



        <h4>Material Unit</h4>
        @Html.ActionLink("Edit", "EditAddUnit", new { id = Model.ID })

        <table class="table">
            <tr>
                <th></th>
                <th>@Resource.MaterialName</th>
                <th>@Resource.Unit</th>
                <th>@Resource.Quantity</th>
                <th>@Resource.UnitPrice</th>
                <th>@Resource.Price</th>
            </tr>
            @if (Model.MaterialBuyUnits != null && Model.MaterialBuyUnits.Count != 0)
            {

                foreach (var item in Model.MaterialBuyUnits)
                {
                    string selectedRow = "";
                    if (item.ID == ViewBag.CourseID)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @*Html.ActionLink("Delete", "Details", new { id = Model.ID, contractsID = item.ID })*@
                        </td>
                        <td>
                            @item.MaterialUnitPrice.MaterialName.NameVn
                        </td>
                        <td>
                            @item.MaterialUnitPrice.UnitString
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.MaterialUnitPrice.Price)
                        </td>
                        <td>
                            @{
                                var price = item.Quantity * item.MaterialUnitPrice.Price;
                            }
                            @String.Format("{0:0,0}", price)
                        </td>
                    </tr>
                }
            }
        </table>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
