@*model IEnumerable<ChulWoo.Models.MaterialBuy>*@
@model PagedList.IPagedList<ChulWoo.Models.MaterialBuy>
@using PagedList.Mvc;
@using ChulWoo.Models;
@using ChulWoo.Helper;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>MaterialBuy</h2>

<table width="100%">
    <tr>
        <td>@Html.ActionLink("Create New", "Create")</td>
        <td style="text-align: right;">@Html.ActionLink("PaymentList", "PaymentList")</td>
    </tr>
</table>

@using (Html.BeginForm("Index", "MaterialBuy", FormMethod.Get))
{
    <p>
        Find by CompanyName or ProjectName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        &nbsp; &nbsp;
        @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Translation))
        {
            Write("Translate:  ");
            @Html.CheckBox("translate", (bool?)Session["Translate"])
        }
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Resource.CompanyName
        </th>
        <th>
            @Resource.ProjectName
        </th>
        <th>
            @Resource.Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Company.Name, "Details", "Company", new { id = item.CompanyID }, null)
            </td>
            <td>
                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                {
                    @Html.ActionLink(item.Project.NameKr, "Details", "Project", new { id = item.ProjectID }, null)
                }
                else
                {
                    @Html.ActionLink(item.Project.NameVn, "Details", "Project", new { id = item.ProjectID }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, translate = (bool?)Session["Translate"] }))
