@model ChulWoo.Viewmodel.PaymentListData
@using System.ComponentModel.DataAnnotations;
@using ChulWoo.LocalResource;
@using System.ComponentModel;
@using ChulWoo.Helper;

@{
    ViewBag.Title = "PaymentList";
}

<h2>PaymentList</h2>
<hr />

@using (Html.BeginForm("PaymentList", "MaterialBuy", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                @Html.EditorFor(model => model.SearchDate, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                <input type="submit" value="Search" />
            </td>
        </tr>
        <tr>
            <td height="20px"></td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Details", "PaymentListDetails", new { SearchDate = Model.SearchDate })
            </td>
            <td>
                @Html.ActionLink("Export to Excel", "ExportClientsListToExcel2", new { SearchDate = Model.SearchDate })
            </td>
        </tr>
    </table>
}
<br />

<table class="table">
    <tr>
        <th>
            @Resource.Statement
        </th>
        <th>
            @Resource.Date
        </th>
        <th>
            @Resource.Amount
        </th>
        <th>
            @Resource.Type
        </th>
        <th>
            @Resource.Note
        </th>
        <th>
            @Resource.Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Payments)
    {
        <tr>
            <td>
                @EnumExtensions.GetDisplayName(item.StatementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                {
                    @Html.DisplayFor(modelItem => item.NoteKr)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.NoteVn)
                }
            </td>
            <td>
                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                {
                    @Html.DisplayFor(modelItem => item.MaterialBuy.NoteKr)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.MaterialBuy.NoteVn)
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
