@using System.Globalization;
@using ChulWoo;
@using System.Threading;
@using ChulWoo.Models;
@using ChulWoo.LocalResource;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ChulWoo VINA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

        function DropDownProductList() {

            var DropDownSelectedValue = $("#DropDownProductList :selected").val();

            //You can check selected value using alert
            //alert(DropDownSelectedValue);

            if (DropDownSelectedValue != null) {
                //Make a ajax call to controller here

                $.ajax({
                    cache: false,
                    url: '/Home/ChangeCurrentCulture',
                    data: { id: DropDownSelectedValue },

                    success: function (response) {
                        window.location.reload();
                    },

                    error: function (xhr) {
                        alert("Something went wrong, please try again");
                    }
                });
            }
        }
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ChulWoo VINA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("정보", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("연락처", "Contact", "Home")</li>*@
                    @if (Context.Session["LoginUserID"] != null)
                    {
                        <li> @Html.ActionLink("Board", "Index", "Board") </li>
                        <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                        <li>@Html.ActionLink("Personnel", "Index", "Personnel")</li>
                        <li>@Html.ActionLink("Company", "Index", "Company")</li>
                        <li>@Html.ActionLink("MaterialBuy", "Index", "MaterialBuy")</li>
                        <li>@Html.ActionLink("Project", "Index", "Project")</li>
                        if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Translation))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Translate
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("MaterialName", "Index", "MaterialName")</li>
                                    <li>@Html.ActionLink("Payment", "Index", "Payment")</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*{
                            CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

                            <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>

                            <li><a href="/Home/ChangeCurrentCulture/1">Vietnam</a></li>

                            <li><a href="/Home/ChangeCurrentCulture/2">Korean</a></li>
                        }*@
                    @{
                        if (Context.Session["LoginUserID"] == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            Security sec = (Security)Context.Session["LoginUserSecurity"];
                            if (sec == Security.Admin)
                            {
                                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            }
                        }
                    }
                    <li style="margin-top:12pt">
                        @Html.DropDownList("DropDownProductList", new List<SelectListItem>
                           {
                             new SelectListItem { Text = "English", Value = "0"},
                             new SelectListItem { Text = "Vietnam", Value = "1"},
                             new SelectListItem { Text = "Korean", Value = "2"}
                          }, "-- Choose --", new { @onchange = "DropDownProductList();" });
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ChulWoo VINA</p>
        </footer>
    </div>

    @*Scripts.Render("~/bundles/jquery-3.3.1.js")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>


