@using System.Globalization;
@using ChulWoo;
@using System.Threading;
@using ChulWoo.Models;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ChulWoo VINA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        function changeText() {
            x = document.getElementById("mySelect");
            x.options[x.selectedIndex].text = "Melon";
            alert(x.selectedIndex);

            var DropDownSelectedValue = x.selectedIndex;

            //You can check selected value using alert

            alert(DropDownSelectedValue);

            if (DropDownSelectedValue != null) {

                //Make a ajax call to controller here

                $.ajax({
                    type: "GET",
                    Url: "/Home/ChangeCurrentCulture",
                    dataType: "html",
                    data: { id: DropDownSelectedValue },

                    success: function (data) {

                    }
                });

            }

        }
    </script>

    <script type="text/javascript">

        function DropDownProductList() {

            var DropDownSelectedValue = $("#DropDownProductList :selected").val();

            //You can check selected value using alert

            alert(DropDownSelectedValue);

            if (DropDownSelectedValue != null) {

                //Make a ajax call to controller here

                $.ajax({

                    Url: "/Home/ChangeCurrentCulture",

                    data: { "ID": DropDownSelectedValue },

                    success: function (response) {

                    },

                    error: function (xhr) {

                        alert("Something went wrong, please try again");

                    }

                });

            }

        }

    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ChulWoo VINA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("정보", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("연락처", "Contact", "Home")</li>*@
                    @if (Context.Session["LoginUserID"] != null)
                    {
                        <li> @Html.ActionLink("Board", "Index", "Board") </li>
                        <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                        <li>@Html.ActionLink("Personnel", "Index", "Personnel")</li>
                        <li>@Html.ActionLink("Project", "Index", "Project")</li>
                        <li>@Html.ActionLink("Company", "Index", "Company")</li>
                        <li>@Html.ActionLink("MaterialBuy", "Index", "MaterialBuy")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.DropDownList("DropDownProductList", new List<SelectListItem>
                           {
                             new SelectListItem { Text = "English", Value = "0"},
                             new SelectListItem { Text = "Vietnam", Value = "1"},
                             new SelectListItem { Text = "Korean", Value = "2"}
                          }, new { @style = "width: 200px", @onchange = "DropDownProductList();" });
                        <select id="mySelect" onchange="changeText()">
                            <option value="0">English</option>
                            <option value="1">Vietnam</option>
                            <option value="2">Korean</option>
                        </select>
                    </li>
                    @*{
        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

        <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>

        <li><a href="/Home/ChangeCurrentCulture/1">Vietnam</a></li>

        <li><a href="/Home/ChangeCurrentCulture/2">Korean</a></li>
    }*@
                                        @{
                                    if (Context.Session["LoginUserID"] == null)
                                    {
<li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                            Security sec = (Security)Context.Session["LoginUserSecurity"];
                            if (sec == Security.Admin)
                            {
                                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ChulWoo VINA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
