@model PagedList.IPagedList<ChulWoo.Models.FactoryDailyWork>
@using PagedList.Mvc;
@using ChulWoo.Models;
@using ChulWoo.Helper;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "FactoryDailyWork", FormMethod.Get))
{
    <p>
        Find by ProjectName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        &nbsp; &nbsp;
        @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Personnel))
        {
            Write("Translate:  ");
            @Html.CheckBox("translate", (bool?)Session["Translate"])
            <input type="submit" value="Search" />
        }
    </p>
}

<table class="table">
    <tr>
        <th>
            @Resource.Name
        </th>
        <th>
            @Resource.Date
        </th>
        <th>
            @Resource.Note
        </th>
        <th>
            @Resource.ProjectName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ProparingPerson.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
            <td>
                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                {
                    @Html.TextAreaFor(model => item.NoteKr, new { @class = "form-control", @Style = "width:300px;max-width:300px;resize:none;border:0;", @readonly = true, @rows = "1" })
                }
                else
                {
                    @Html.TextAreaFor(model => item.NoteVn, new { @class = "form-control", @Style = "width:300px;max-width:300px;resize:none;border:0;", @readonly = true, @rows = "1" })
                }
            </td>
            <td>
                @{
                    var temp = item.FactoryWorkUnits.GroupBy(f => f.ProjectID).ToList();
                    //var temp = from unit in item.FactoryWorkUnits
                    //           group unit by unit.ProjectID into data
                    //           select new { Project = data };
                    foreach (var unit in temp)
                    {
                        if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                        {
                            @unit.ElementAt(0).Project.NameKr
                        }
                        else
                        {
                            @unit.ElementAt(0).Project.NameVn
                        }
                        <br />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, translate = (bool?)Session["Translate"] }))

<script src="~/Scripts/autosize.js"></script>
<script>autosize(document.querySelectorAll('textarea'));</script>
