@model ChulWoo.Models.Project
@using ChulWoo.Models;

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.NameVn)</h2>
<h2>@Html.DisplayFor(model => model.NameKr)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <ul class="attachment">
        @foreach (var item in Model.UploadFiles)
        {
            <li>
                <a class="title" href="/UploadFile/@item.FolderName/@item.SaveFileName">@item.FileName</a>  |
                <a class="title" href="/Board/Download/?SFilename=@(item.FolderName+"/"+ item.SaveFileName)&Filename=@item.FileName">Download</a>
            </li>
        }
    </ul>



    @if (Model.MaterialBuys.Count != 0)
    {
        <h3>Material Buy</h3>

        <table class="table">
            @{
                MaterialBuy tempitem = null;
                int subtotal = 0;
                foreach (var item in Model.MaterialBuys)
                {
                    if (tempitem == null || tempitem.Date != item.Date)
                    {
                        if (tempitem != null)
                        {
                            <tr>
                                <th colspan="4" height="20"></th>
                                <th>소계</th>
                                <th>@String.Format("{0:0,0.00}", subtotal)</th>
                            </tr>
                            subtotal = 0;
                        }

                        <tr>
                            <td colspan="6">
                                <b>@Html.DisplayNameFor(model => item.Date)</b> @Html.DisplayFor(model => item.Date)
                            </td>
                        </tr>
                        <tr>
                            <th>Company Name</th>
                            <th>Material Name</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>U.Price</th>
                            <th>Price</th>
                        </tr>
                    }
                    foreach (var unit in item.MaterialBuyUnits)
                    {
                        <tr>
                            <td>
                                @item.Company.Name
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.MaterialName.Name
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.Unit
                            </td>
                            <td>
                                @unit.Quantity
                            </td>
                            <td>
                                @Html.DisplayFor(model => unit.MaterialUnitPrice.Price)
                            </td>
                            <td>
                                @{
                                    var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                                    subtotal = subtotal + (int)price;
                                }
                                @String.Format("{0:0,0.00}", price)

                            </td>

                        </tr>
                    }
                    tempitem = item;
                }
            }
            <tr>
                <th colspan="4" height="20"></th>
                <th>소계</th>
                <th>@String.Format("{0:0,0.00}", subtotal)</th>
            </tr>

        </table>
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
