@model ChulWoo.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>



    <h3>Contracts</h3>

    <table class="table">
        <tr>
            <th>Company Name</th>
            <th>Material Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Price</th>
        </tr>
        @if (Model.MaterialBuys.Count != 0)
        {

            foreach (var item in Model.MaterialBuys)
            {
                foreach (var unit in item.MaterialBuyUnits)
                {
                    <tr>
                        <td>
                            @item.Company.Name
                        </td>
                        <td>
                            @unit.MaterialUnitPrice.MaterialName.Name
                        </td>
                        <td>
                            @unit.Quantity
                        </td>
                        <td>
                            @unit.MaterialUnitPrice.Price
                        </td>
                        <td>
                            @{
                                var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                            }
                            @price
                        </td>
                    </tr>
                }
            }
        }
    </table>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
