@model ChulWoo.Models.Project
@using ChulWoo.Models;

@{
    ViewBag.Title = "Details";
}

<h2>
    @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
    {
        @Html.DisplayFor(model => model.NameKr) 
    }
    else
    {
        @Html.DisplayFor(model => model.NameVn)
    }
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <ul class="attachment">
        @foreach (var item in Model.UploadFiles)
        {
            <li>
                <a class="title" href="/UploadFile/@item.FolderName/@item.SaveFileName">@item.FileName</a>  |
                <a class="title" href="/Board/Download/?SFilename=@(item.FolderName+"/"+ item.SaveFileName)&Filename=@item.FileName">Download</a>
            </li>
        }
    </ul>



    @if (Model.MaterialBuys.Count != 0)
    {
        <h3>Material Buy</h3>

        <table class="table">
            @{
                MaterialBuy tempitem = null;
                double subtotal = 0;
                double vat = 0;
                foreach (var item in Model.MaterialBuys)
                {
                    if (tempitem == null || tempitem.Date != item.Date)
                    {
                        if (tempitem != null)
                        {
                            <tr>
                                <th colspan="4" height="20"></th>
                                <th>VAT</th>
                                <th style="text-align: right;">@String.Format("{0:0,0}", vat)</th>
                            </tr>
                            <tr>
                                <th colspan="4" height="20"></th>
                                <th>소계</th>
                                <th style="text-align: right;">@String.Format("{0:0,0}", subtotal)</th>
                            </tr>
                            subtotal = 0;
                            vat = 0;
                        }

                        <tr>
                            <td colspan="6">
                                <b>@Html.DisplayNameFor(model => item.Date)</b> @Html.DisplayFor(model => item.Date)
                            </td>
                        </tr>
                        <tr>
                            <th>@Resource.CompanyName</th>
                            <th>@Resource.MaterialName</th>
                            <th>@Resource.Unit</th>
                            <th>@Resource.Quantity</th>
                            <th>@Resource.UnitPrice</th>
                            <th>@Resource.Price</th>
                        </tr>
                    }
                    foreach (var unit in item.MaterialBuyUnits)
                    {
                        <tr>
                            <td>
                                @item.Company.Name
                            </td>
                            <td>
                                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                                {
                                    @unit.MaterialUnitPrice.MaterialName.NameKr
                                }
                                else
                                {
                                    @unit.MaterialUnitPrice.MaterialName.NameVn
                                }
                                @*if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                                {
                                    @Html.ActionLink(unit.MaterialUnitPrice.MaterialName.NameKr, "Details", "MaterialBuy", new { id = unit.MaterialBuyID }, null)
                                }
                                else
                                {
                                    @Html.ActionLink(unit.MaterialUnitPrice.MaterialName.NameVn, "Details", "MaterialBuy", new { id = unit.MaterialBuyID }, null)
                                }*@
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.UnitString
                            </td>
                            <td>
                                @unit.Quantity
                            </td>
                            <td style="text-align: right;">
                                @Html.DisplayFor(model => unit.MaterialUnitPrice.Price)
                            </td>
                            <td style="text-align: right;">
                                @{
                                    var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                                    subtotal = subtotal + (double)price;
                                    if (unit.MaterialBuy.VAT == true)
                                    {
                                        vat = vat + ((double)price * 0.1);
                                    }
                                }
                                @String.Format("{0:0,0}", price)

                            </td>

                        </tr>
                    }
                    tempitem = item;
                }
            }
            <tr>
                <th colspan="4" height="20"></th>
                <th>VAT</th>
                <th style="text-align: right;">@String.Format("{0:0,0}", vat)</th>
            </tr>
            <tr>
                <th colspan="4" height="20"></th>
                <th>소계</th>
                <th style="text-align: right;">@String.Format("{0:0,0}", subtotal + vat)</th>
            </tr>

        </table>
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
