@model ChulWoo.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <ul class="attachment">
        @foreach (var item in Model.UploadFiles)
        {
            <li>
                <a class="title" href="/UploadFile/@item.FolderName/@item.SaveFileName">@item.FileName</a>  |
                <a class="title" href="/Board/Download/?SFilename=@(item.FolderName+"/"+ item.SaveFileName)&Filename=@item.FileName">Download</a>  |
                <a href="javascript:void(0);" data-id="@item.ID" id="deleteitem" class="deleteitem">Delete</a>
            </li>
        }
    </ul>



    @if (Model.MaterialBuys.Count != 0)
    {
        <h3>Material Buy</h3>

        foreach (var item in Model.MaterialBuys)
        {
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => item.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.Date)
                </dd>

                <table class="table">
                    <tr>
                        <th>Company Name</th>
                        <th>Material Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                    @foreach (var unit in item.MaterialBuyUnits)
                    {
                        <tr>
                            <td>
                                @item.Company.Name
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.MaterialName.Name
                            </td>
                            <td>
                                @unit.Quantity
                            </td>
                            <td>
                                @Html.DisplayFor(model => unit.MaterialUnitPrice.Price)
                            </td>
                            <td>
                                @{
                                    var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                                }
                                @String.Format("{0:0,0}", price)
                            </td>
                        </tr>
                    }
                </table>
            </dl>
        }
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
