@model ChulWoo.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>



    @if (Model.MaterialBuys.Count != 0)
    {
        <h3>Material Buy</h3>

        foreach (var item in Model.MaterialBuys)
        {
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => item.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => item.Date)
                </dd>

                <table class="table">
                    <tr>
                        <th>Company Name</th>
                        <th>Material Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                    @foreach (var unit in item.MaterialBuyUnits)
                    {
                        <tr>
                            <td>
                                @item.Company.Name
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.MaterialName.Name
                            </td>
                            <td>
                                @unit.Quantity
                            </td>
                            <td>
                                @unit.MaterialUnitPrice.Price
                            </td>
                            <td>
                                @{
                                    var price = unit.Quantity * unit.MaterialUnitPrice.Price;
                                }
                                @price
                            </td>
                        </tr>
                    }
                </table>
            </dl>
        }
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
