@*model IEnumerable<ChulWoo.Models.Project>*@
@model PagedList.IPagedList<ChulWoo.Models.Project>
@using PagedList.Mvc;
@using ChulWoo.Models;
@using ChulWoo.Helper;

@{
    ViewBag.Title = "Index";
}

<h2>Project</h2>

<p>
    @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Translation))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@using (Html.BeginForm("Index", "Project", FormMethod.Get))
{
    <p>
        Find by ProjectName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        &nbsp; &nbsp;
        @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Personnel))
        {
            Write("Translate:  ");
            @Html.CheckBox("translate", (bool?)Session["Translate"])
        }
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Resource.ProjectName
        </th>
        <th>
            @Resource.CompanyName
        </th>
        <th>
            @Resource.Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                {
                    @Html.DisplayFor(modelItem => item.NameKr)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.NameVn)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Personnel))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    Write(" | ");
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    Write(" | ");

                    if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) == Convert.ToInt32(Security.Admin))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                }
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, translate = (bool?)Session["Translate"] }))
