@model IEnumerable<ChulWoo.Models.Personnel>
@using ChulWoo.Models;
@using ChulWoo.Helper;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChulWoo VINA</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>오늘의 인사정보</h2>
        <table class="table">
            <tr>
                <th>@Resource.Name</th>
                <th>@Resource.Type</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Employee.Name, "Details", "Employee", new { id = item.EmployeeID }, null)
                    </td>
                    <td>
                        @EnumExtensions.GetDisplayName(item.Type)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <h2>새로 추가된 글</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.ActionLink("Board", "Index", "Board")
            </dt>
            <dd>
                @ViewBag.newBoard
            </dd>
            <dt>
                @Html.ActionLink("Personnel", "Index", "Personnel")
            </dt>
            <dd>
                @ViewBag.newPersonnel
            </dd>
            <dt>
                @Html.ActionLink("Factory", "Index", "FactoryDailyWork")
            </dt>
            <dd>
                @ViewBag.newFactory
            </dd>
            <dt>
                @Html.ActionLink("MaterialBuy", "Index", "MaterialBuy")
            </dt>
            <dd>
                @ViewBag.newMaterialBuy
            </dd>
            <dt>
                @Html.ActionLink("Project", "Index", "Project")
            </dt>
            <dd>
                @ViewBag.newProject
            </dd>
            @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Power))
            {
                <dt>
                    @Html.ActionLink("Payment", "Index", "Payment")
                </dt>
                <dd>
                    @ViewBag.newPayment
                </dd>
            }
        </dl>
    </div>
    @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Translation))
    {

        <div class="col-md-4">
            <h2>미 번역된 글</h2>
            <dl class="dl-horizontal">
                <dt>
                    @Html.ActionLink("Board", "Index", "Board", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranBoard
                </dd>
                <dt>
                    @Html.ActionLink("Employee", "Index", "Employee", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranEmployee
                </dd>
                <dt>
                    @Html.ActionLink("Personnel", "Index", "Personnel", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranPersonnel
                </dd>
                <dt>
                    @Html.ActionLink("Factory", "Index", "FactoryDailyWork", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranFactory
                </dd>
                <dt>
                    @Html.ActionLink("MaterialBuy", "Index", "MaterialBuy", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranMaterialBuy
                </dd>
                <dt>
                    @Html.ActionLink("Project", "Index", "Project", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranProject
                </dd>
                <dt>
                    @Html.ActionLink("MaterialName", "Index", "MaterialName", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranMaterialName
                </dd>
                <dt>
                    @Html.ActionLink("Payment", "Index", "Payment", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranPayment
                </dd>
                <dt>
                    @Html.ActionLink("DailyWorkReport", "Index", "DailyWork", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranDailyWorkReport
                </dd>
                <dt>
                    @Html.ActionLink("FactoryWorkUnit", "Index", "FactoryWorkUnit", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranFactoryWorkUnit
                </dd>
                <dt>
                    @Html.ActionLink("WorkUnit", "Index", "WorkUnit", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranWorkUnit
                </dd>
                <dt>
                    @Html.ActionLink("EquipmentUnit", "Index", "EquipmentUnit", new { page = 1, currentFilter = "", searchString = "", translate = true }, null)
                </dt>
                <dd>
                    @ViewBag.tranEquipmentUnit
                </dd>
            </dl>
        </div>
    }
</div>