@model ChulWoo.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.DepartmentVn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.DepartmentVn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialBuy.NoteVn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialBuy.NoteVn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatementType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteVn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteVn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteKr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteKr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Translate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Translate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
