@*@model IEnumerable<ChulWoo.Models.Payment>*@
@model PagedList.IPagedList<ChulWoo.Models.Payment>
@using PagedList.Mvc;
@using ChulWoo.Models;
@using ChulWoo.Helper;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Payment", FormMethod.Get))
{
    <p>
        Find by CompanyName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        &nbsp; &nbsp;
        @if (Convert.ToInt32(Context.Session["LoginUserSecurity"]) >= Convert.ToInt32(Security.Translation))
        {
            Write("Translate:  ");
            @Html.CheckBox("translate", (bool?)Session["Translate"])
        }
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Resource.Date
        </th>
        <th>
            @Resource.Statement
        </th>
        <th>
            @Resource.CompanyName
        </th>
        <th>
            @Resource.PaymentType
        </th>
        <th>
            @Resource.Amount
        </th>
        <th>
            @Resource.Note
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @EnumExtensions.GetDisplayName(item.StatementType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @if (Convert.ToInt32(Context.Session["CurrentCulture"]) == 2)
                {
                    @Html.DisplayFor(modelItem => item.NoteKr)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.NoteVn)
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, translate = (bool?)Session["Translate"] }))
